[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tweepy = "*"
beautifulsoup4 = "*"
scrapy = "*"
huggingface = "*"
transformers = "*"
spacy = "*"
matplotlib = "*"
plotly = "*"
flask = "*"
dash = "*"

[dev-packages]

[requires]
python_version = "3.12"
